
/* sets defaults for when no margin or padding is otherwise specified */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* default background color for body of website */
body {
    background-color: #d9dcd6;
}

/* default settings for header of website */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changes font size and display properties of all h1 sized elements in header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes text color of 'seo' within the page title "Horiseon" */
.seo {
    color: #d9dcd6;
}

/* changes elements in the 'nav' section of the header to overwrite padding, and font family, adds other properties */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* defines properties of the list items in the 'nav' section */
.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* defines color of link-text in the 'nav' */
a {
    color: #ffffff;
    text-decoration: none;
}

/* defines elements of the background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* alignment of images & text in the main content of website */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.clientoptions {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.clientoptions img {
    max-height: 200px;
}

.clientoptions h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* alignment of text and images in sidebar (aside) of website */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* alignment of elements in footer of webpage */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
